{% extends 'safario/base.html' %}
{% load static %}

{% block title %}
    جزئیات مطلب وبلاگ - سفر سافاریو
{% endblock title %}

{% block content %}
    <section class="hero-banner-sm magic-ball magic-ball-banner" id="parallax-1" data-anchor-target="#parallax-1"
             data-300-top="background-position: 0px -80px" data-top-bottom="background-position: 0 100px">
        <div class="container">
            <div class="hero-banner-sm-content">
                <h1>جزئیات مطلب وبلاگ</h1>
                <p>در اینجا می‌توانید مطلب کامل را مطالعه کرده و نظرات خود را با ما در میان بگذارید.</p>
            </div>
        </div>
    </section>
    <section class="blog_area single-post-area section-margin">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 posts-list">
                    <div class="single-post">
                        <div class="feature-img">

                            <img class="img-fluid" src="{% static 'safario/img/blog/main-blog/m-blog-1.jpg' %}" alt="{{ post.title|default:'تصویر اصلی مطلب' }}">

                        </div>
                        <div class="blog_details">
                            <h2>عنوان مطلب وبلاگ در اینجا قرار می‌گیرد، یک عنوان جذاب و کامل</h2>

                            <ul class="blog-info-link mt-3 mb-4">
                                <li><a href="#"><i class="far fa-user"></i> سفر، سبک زندگی</a></li>
                                <li><a href="#"><i class="far fa-comments"></i> ۰۳ نظر</a></li>
                            </ul>
                            <p class="excert">
                                این یک خلاصه یا چکیده از مطلب است. کمپ‌های آموزشی MCSE طرفداران و منتقدان خاص خود را دارند. برخی افراد درک نمی‌کنند که چرا باید برای کمپ آموزشی هزینه کرد در حالی که می‌توان مطالب آموزشی MCSE را با کسری از قیمت کمپ تهیه کرد.
                            </p>
                            <p>
                                با این حال، چه کسی اراده کافی برای نشستن و گذراندن یک دوره آموزشی خودخوان MCSE را دارد؟ چه کسی اراده واقعی برای این کار را دارد؟ اینجاست که ارزش کمپ‌های آموزشی مشخص می‌شود، جایی که با برنامه‌ریزی و همراهی اساتید، مسیر یادگیری هموارتر می‌شود.
                            </p>
                            <div class="quote-wrapper">
                                <div class="quotes">
                                    نقل قولی الهام‌بخش یا مهم از متن مطلب در اینجا قرار می‌گیرد. این می‌تواند توجه خواننده را به نکته‌ای کلیدی جلب کند و به جذابیت بصری متن نیز کمک نماید.
                                </div>
                            </div>

                            <p>
                                ادامه متن اصلی مطلب در اینجا می‌آید. توضیحات کامل‌تر، بررسی جزئیات و هر آنچه برای انتقال پیام لازم است. تلاش کنید متن روان، خوانا و برای مخاطب جذاب باشد. استفاده از پاراگراف‌های کوتاه‌تر به خوانایی کمک می‌کند.
                            </p>
                            <p>
                                در نهایت، می‌توانید با یک جمع‌بندی یا نتیجه‌گیری، مطلب را به پایان برسانید و خوانندگان را به ارائه نظر یا اشتراک‌گذاری مطلب تشویق کنید. ارائه منابع یا لینک‌های مفید نیز می‌تواند ارزش افزوده خوبی برای مطلب شما باشد.
                            </p>
                        </div>
                    </div>
                    <div class="navigation-top">
                        <div class="d-sm-flex justify-content-between text-center">
                            <p class="like-info"><span class="align-middle"><i class="far fa-heart"></i></span> لیلا و ۴ نفر دیگر این مطلب را پسندیده‌اند</p>
                            <div class="col-sm-4 text-center my-2 my-sm-0">
                                <p class="comment-count"><span class="align-middle"><i class="far fa-comment"></i></span> ۰۶ نظر</p>
                            </div>
                            <ul class="social-icons">
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                                <li><a href="#"><i class="fab fa-behance"></i></a></li>
                            </ul>
                        </div>

                        <div class="navigation-area">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center">
                                    <div class="thumb">
                                        <a href="#">
                                            <img class="img-fluid" src="{% static 'safario/img/blog/prev.jpg' %}" alt="مطلب قبلی">
                                        </a>
                                    </div>
                                    <div class="arrow">
                                        <a href="#">
                                            <span class="lnr text-white lnr-arrow-left"></span>
                                        </a>
                                    </div>
                                    <div class="detials">
                                        <p>مطلب قبلی</p>
                                        <a href="#">
                                            <h4>فضا، آخرین مرز ناشناخته</h4>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center">
                                    <div class="detials" style="text-align: left;">
                                        <p>مطلب بعدی</p>
                                        <a href="#">
                                            <h4>آشنایی با تلسکوپ‌ها</h4>
                                        </a>
                                    </div>
                                    <div class="arrow">
                                        <a href="#">
                                            <span class="lnr text-white lnr-arrow-right"></span>
                                        </a>
                                    </div>
                                    <div class="thumb">
                                        <a href="#">
                                            <img class="img-fluid" src="{% static 'safario/img/blog/next.jpg' %}" alt="مطلب بعدی">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="blog-author">
                        <div class="media align-items-center">
                            <img src="{% static 'safario/img/blog/author.png' %}" alt="تصویر نویسنده">
                            <div class="media-body">
                                <a href="#">
                                    <h4>هاروارد میلان</h4>
                                </a>
                                <p>دومین تقسیم از فرم، جانور ماهی ساخته شده است. هر یک از دریاها همه ما را جمع آوری کردند و گفتند شما، او سلطه ما را دو برابر کرد.</p>
                            </div>
                        </div>
                    </div>

                    <div class="comments-area">
                        <h4>۰۵ نظر</h4>
                        <div class="comment-list">
                            <div class="single-comment justify-content-between d-flex">
                                <div class="user justify-content-between d-flex">
                                    <div class="thumb">
                                        <img src="{% static 'safario/img/blog/c1.png' %}" alt="تصویر نظردهنده">
                                    </div>
                                    <div class="desc">
                                        <p class="comment">
                                            متن نظر اول در اینجا قرار می‌گیرد. یک نظر مفید و مرتبط با محتوای مطلب.
                                        </p>
                                        <div class="d-flex justify-content-between">
                                            <div class="d-flex align-items-center">
                                                <h5>
                                                    <a href="#">امیلی بلانت</a>
                                                </h5>
                                                <p class="date">۴ دسامبر ۲۰۱۷ ساعت ۳:۱۲ ب.ظ</p>
                                            </div>
                                            <div class="reply-btn">
                                                <a href="#" class="btn-reply text-uppercase">پاسخ</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                         <div class="comment-list">
                            <div class="single-comment justify-content-between d-flex">
                                <div class="user justify-content-between d-flex">
                                    <div class="thumb">
                                        <img src="{% static 'safario/img/blog/c2.png' %}" alt="تصویر نظردهنده">
                                    </div>
                                    <div class="desc">
                                        <p class="comment">
                                           یک نظر دیگر از یک کاربر دیگر. نظرات به تعامل بیشتر کاربران کمک می‌کنند.
                                        </p>
                                        <div class="d-flex justify-content-between">
                                            <div class="d-flex align-items-center">
                                                <h5>
                                                    <a href="#">جان دوو</a>
                                                </h5>
                                                <p class="date">۵ دسامبر ۲۰۱۷ ساعت ۱۰:۰۰ ق.ظ </p>
                                            </div>
                                            <div class="reply-btn">
                                                <a href="#" class="btn-reply text-uppercase">پاسخ</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="comment-form">
                        <h4>نظر خود را بنویسید</h4>
                        <form class="form-contact comment_form" action="#" id="commentForm" method="POST">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <textarea class="form-control w-100" name="comment" id="comment" cols="30"
                                                  rows="9" placeholder="نظر خود را بنویسید..."></textarea>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input class="form-control" name="name" id="name" type="text"
                                               placeholder="نام شما">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input class="form-control" name="email" id="email" type="email"
                                               placeholder="ایمیل شما">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <input class="form-control" name="website" id="website" type="text"
                                               placeholder="وبسایت (اختیاری)">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="button button-contactForm">ارسال نظر</button>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="blog_right_sidebar">
                        <aside class="single_sidebar_widget search_widget">
                            <form action="#">
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" placeholder="کلمه کلیدی جستجو...">
                                        <div class="input-group-append">
                                            <button class="btn" type="button"><i class="ti-search"></i></button>
                                        </div>
                                    </div>
                                </div>
                                <button class="button rounded-0 primary-bg text-white w-100" style="background-color: var(--primary-purple);" type="submit">جستجو
                                </button>
                            </form>
                        </aside>

                        <aside class="single_sidebar_widget post_category_widget">
                            <h4 class="widget_title" style="color: var(--primary-purple);">دسته‌بندی مطالب</h4>
                            <ul class="list cat-list">
                                <li>
                                    <a href="#" class="d-flex">
                                        <p>غذا و رستوران</p>
                                        <p>(۳۷)</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="d-flex">
                                        <p>اخبار سفر</p>
                                        <p>(۱۰)</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="d-flex">
                                        <p>تکنولوژی مدرن</p>
                                        <p>(۰۳)</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="d-flex">
                                        <p>محصولات</p>
                                        <p>(۱۱)</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="d-flex">
                                        <p>الهام‌بخش</p>
                                        <p>(۲۱)</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="d-flex">
                                        <p>سلامت و بهداشت</p>
                                        <p>(۲۱)</p>
                                    </a>
                                </li>
                            </ul>
                        </aside>

                        <aside class="single_sidebar_widget popular_post_widget">
                            <h3 class="widget_title" style="color: var(--primary-purple);">آخرین مطالب</h3>
                            <div class="media post_item">
                                <img src="{% static 'safario/img/blog/popular-post/post1.jpg' %}" alt="تصویر مطلب محبوب">
                                <div class="media-body">
                                    <a href="single-blog.html">
                                        <h3>از زندگی، تو ماهی بودی...</h3>
                                    </a>
                                    <p>۱۲ ژانویه، ۲۰۱۹</p>
                                </div>
                            </div>
                            {# ... سایر مطالب محبوب ... #}
                            <div class="media post_item">
                                <img src="{% static 'safario/img/blog/popular-post/post2.jpg' %}" alt="تصویر مطلب محبوب">
                                <div class="media-body">
                                    <a href="single-blog.html">
                                        <h3>شگفتی‌های تلسکوپ هابل</h3>
                                    </a>
                                    <p>۲ ساعت پیش</p>
                                </div>
                            </div>
                        </aside>

                        <aside class="single_sidebar_widget instagram_feeds">
                            <h4 class="widget_title" style="color: var(--primary-purple);">فید اینستاگرام</h4>
                            <ul class="instagram_row flex-wrap">
                                <li><a href="#"><img class="img-fluid" src="{% static 'safario/img/instagram/widget-i1.png' %}" alt="تصویر اینستاگرام"></a></li>
                                <li><a href="#"><img class="img-fluid" src="{% static 'safario/img/instagram/widget-i2.png' %}" alt="تصویر اینستاگرام"></a></li>
                                </ul>
                        </aside>

                        <aside class="single_sidebar_widget newsletter_widget">
                            <h4 class="widget_title" style="color: var(--primary-purple);">خبرنامه</h4>
                            <form action="#">
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="ایمیل خود را وارد کنید" required>
                                </div>
                                <button class="button rounded-0 primary-bg text-white w-100" style="background-color: var(--primary-purple);" type="submit">عضویت</button>
                            </form>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endblock content %}